@charset "utf-8";
 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
  
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.clear{
    clear: both;}

.mb20{margin-bottom: 20px;}

p{
    font-size: 12px;
    line-height: 20px;
    color:#202020;}

/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:block;
    overflow:hidden;
}

.cf:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}

@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);

body, div, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ul, ol, li,
brockquote, pre, table, caption, th, td, address,
form, fieldset, legend, object {
  margin: 0;
  padding: 0;
}

h5, h6, pre, table, code, kbd, samp, acronym, input, textarea {
  font-size: 100%;
}

a, ins {
  text-decoration: none;
}

address, em, cite, dfn, var {
  font-style: normal;
}

input, textarea {
  font-family: sans-serif;
  font-weight: normal;
}

img {
  vertical-align: bottom;
}

a img {
  border: none;
}

html,body{

	padding:0px;
	margin:0px;
	font-size:15px;
	color:#000;
	line-height:2.0em;
	height:100%;
	letter-spacing:1px;

}

h2,h3,h4,h5,img{
padding:0px;
	 margin:0px;
font-size:10px;
text-decoration:none;
font-weight : normal;
}

h1{
padding:0px;
margin:0px;
font-size:11px;
color:#333333;
text-decoration:none;
font-weight : normal;
padding-top:5px;
line-height:12px;
}

.clearfix:after {
  content: ".";  /* �V�����v�f���� */
  display: block;  /* �u���b�N���x���v�f�� */
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix {
  min-height: 1px;
}

* html .clearfix {
*   height: 1px;
*     /*\*//*/
  height: auto;
  overflow: hidden;
  /**/
}

.clear{
clear:both;
font-size:0px;
height:1px;
}

/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:block;
    overflow:hidden;
}

.cf:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}

