@charset "UTF-8";
@keyframes activePlayer {
  0% {
    background: #b4ddfe; }
  50% {
    background: #8cbfe9; }
  100% {
    background: #b4ddfe; } }

h1 {
  color: red; }

body {
  overflow-x: hidden; }

#header {
  height: 47px;
  width: 100%;
  background: #304c8c;
  color: #fff;
  position: relative; }
  #header .left {
    position: absolute;
    top: 0;
    left: 10px; }
    #header .left a {
      color: #fff;
      line-height: 47px; }
  #header h2 {
    color: #fff;
    text-align: center;
    line-height: 47px;
    font-size: 18px; }

#top #main {
  background: #e1e1e1;
  padding: 30px 10px 30px; }
  #top #main .currentGame {
    margin-bottom: 30px; }
    #top #main .currentGame p {
      font-size: 30px;
      text-align: center; }
  #top #main p.comment {
    opacity: 0;
    overflow-y: hidden;
    transition: transform .5s, opacity .5s;
    position: absolute;
    bottom: 10px;
    transform: translate(0, -14px); }
  #top #main .player.active {
    background: #bfdeff;
    animation-name: activePlayer;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    height: 120px; }
    #top #main .player.active p.comment {
      opacity: 1;
      height: auto;
      display: block;
      right: 14px;
      transform: translate(0, 0); }
  #top #main .player {
    background: #fff;
    margin-bottom: 10px;
    border: 1px #b3b3b3 solid;
    border-radius: 4px;
    height: 85px;
    position: relative;
    transition: height 1s; }
    #top #main .player .portrait {
      width: 40%;
      margin-right: 3%;
      height: 100%;
      float: left;
      border-radius: 4px 0 0 4px;
      background: url(../img/sample.png);
      background-size: cover; }
      #top #main .player .portrait p.backnumber {
        font-size: 18px;
        font-weight: 900;
        color: #fff;
        text-shadow: 2px 2px black; }
    #top #main .player .info {
      float: left;
      width: 50%; }
      #top #main .player .info h2.name {
        font-family: 'ヒラギノ角ゴシック';
        font-weight: 900;
        font-size: 25px;
        font-style: italic;
        margin-top: 13px;
        margin-bottom: 0px;
        color: #202020; }
      #top #main .player .info div.role {
        background: #304c8c;
        display: inline-block;
        padding: 0 10px;
        transform: skew(-16deg); }
        #top #main .player .info div.role p {
          color: #fff; }
    #top #main .player .like {
      position: absolute;
      top: 14px;
      right: 14px;
      color: #999;
      font-weight: bold;
      text-align: right; }

#detail .mainInfo {
  background: #e1e1e1;
  padding: 30px 10px;
  text-align: center; }
  #detail .mainInfo .portrait {
    width: 165px;
    height: 165px;
    border-radius: 50%;
    background: url(../img/sample.jpg);
    background-size: cover;
    margin: 0 auto 30px; }
  #detail .mainInfo h2.name {
    font-size: 46px;
    font-style: italic;
    font-family: 'ヒラギノ角ゴシック';
    font-weight: 900;
    text-align: center;
    margin-bottom: 20px; }
  #detail .mainInfo p.basic {
    text-align: center;
    margin-bottom: 30px; }
  #detail .mainInfo a.sendBtn {
    display: inline-block;
    background-color: #304c8c;
    color: #fff;
    height: 40px;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    line-height: 40px;
    font-family: 'ヒラギノ角ゴシック';
    font-weight: 900;
    font-size: 20px;
    transform: skew(-16deg); }

#detail .buyBtn {
  display: inline-block;
  background-color: #304c8c;
  color: #fff;
  height: 40px;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  line-height: 40px;
  font-family: 'ヒラギノ角ゴシック';
  font-weight: 900;
  font-size: 20px;
  transform: skew(-16deg); }

#detail .tab {
  margin-top: 30px; }
  #detail .tab ul.tabBtns {
    margin-bottom: 20px;
    overflow-x: hidden; }
    #detail .tab ul.tabBtns li {
      font-family: 'ヒラギノ角ゴシック';
      font-weight: 900;
      color: #fff;
      background: #6e6e6e;
      display: inline-block;
      float: left;
      width: 33.3%;
      transform: skew(-16deg);
      text-align: center;
      line-height: 40px;
      height: 40px;
      transition: all .5s; }
    #detail .tab ul.tabBtns li#scoreBtn {
      margin-left: -10px;
      margin-right: 10px; }
    #detail .tab ul.tabBtns li#goodsBtn {
      margin-left: 10px;
      margin-right: -10px; }
    #detail .tab ul.tabBtns li.active {
      background: #304c8c; }
  #detail .tab .tabContent {
    padding: 0 10px 30px;
    margin-bottom: 30px; }
    #detail .tab .tabContent h2 {
      font-size: 20px;
      margin-top: 10px;
      font-weight: bold; }
  #detail .tab .tabContent section {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all .5s; }
  #detail .tab .tabContent section.active {
    height: auto;
    opacity: 1; }

#send #main {
  background: #e1e1e1; }

#send .sendInfoBox {
  padding-top: 30px;
  margin-bottom: 30px; }
  #send .sendInfoBox .portrait {
    background: url(../img/sample.png);
    background-size: cover;
    width: 40%;
    margin-right: 7%;
    height: 100px;
    float: left; }
  #send .sendInfoBox .info {
    float: left; }
    #send .sendInfoBox .info h2 {
      font-size: 25px;
      font-style: italic;
      font-weight: 900; }

#send .messageForm {
  margin: 0 10px; }

#send textarea {
  width: 100%;
  margin: 0 auto;
  border-radius: 6px;
  border: 0;
  margin-bottom: 20px; }

#send .sendBtn, #send input[type="submit"] {
  display: inline-block;
  background-color: #304c8c;
  color: #fff;
  height: 40px;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  line-height: 40px;
  font-family: 'ヒラギノ角ゴシック';
  font-weight: 900;
  font-size: 20px;
  transform: skew(-16deg);
  border: 0;
  margin: 0 auto 30px; }

#panel-content-container, #panel-close, #loader, iframe {
  display: none !important; }

